# Не загружать в Git реальные пароли
users.py
users.json
.env

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Uploaded files
uploads/
converted/

# IDE
.vscode/
.idea/

# System
.DS_Store

example.xlsx

.xlsx
