{% extends "base.html" %}

{% block content %}

<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Личный кабинет</h2>

    <div class="card shadow-sm p-4">
        <h5>Данные пользователя</h5>
        <hr>

        <p><strong>Почта:</strong> {{ email }}</p>
        <p><strong>Пароль:</strong> {{ password_hidden }}</p>
        <a class="btn btn-primary col-sm-3" href="/logout">Выход</a>




        <h5 class="mt-4">Ваши шаблоны</h5>
        <ul class="list-group mb-3">
            {% for template in templates %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Шаблон: <strong>{{ template }}</strong></span>

                    <a href="{{ url_for('convert_template', template_id=template) }}"
                       class="btn btn-primary btn-sm">
                        Открыть
                    </a>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('add_template') }}" class="btn btn-secondary w-100">Добавить шаблон</a>
    </div>
</div>

{% endblock %}
