{% extends "base.html" %}

{% block content %}
<div class="col-md-5 mx-auto">
    <h3 class="mb-3">Вход в личный кабинет</h3>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        <div class="mb-3">
            <label>Email</label>
            <input name="username" type="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Пароль</label>
            <input name="password" type="password" class="form-control" required>
        </div>

        <button class="btn btn-warning w-100">Войти</button>
        <a href="{{ url_for('register') }}">Создать аккаунт</a>
    </form>
</div>
{% endblock %}
